**/dist/
**/.env
**/*.env
**/Dockerfile
**/*Dockerfile
.dockerignore
**/node_modules
**/npm-debug.log
**/README.md
**/.next
**/.git


.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.gitignore