.vagrant
npm-debug.log
node_modules/

# Ignore all .envs unless they start with sample-
*.env
!sample-*.env
!.sample.env

#ignore all *-secrets.yaml unless they start with sample-
*.secrets.yaml
*-secrets.yaml
secrets.yaml

# Ignore logs
*.log

# Ignore various secrets
*.pem
*.ovpn

.nyc_output
coverage
dist/

.yarn-error.log

# yarn modern - "not using zero-installs"
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.nx/cache/*