.vagrant
npm-debug.log
node_modules/

# Ignore all .envs unless they start with sample-
*.env
!sample-*.env
!.sample.env

#ignore all *-secrets.yaml unless they start with sample-
*.secrets.yaml
*-secrets.yaml
secrets.yaml

# Ignore logs
*.log

# Ignore various secrets
*.pem
*.ovpn

.nyc_output
coverage
dist/

.yarn-error.log