.vagrant
npm-debug.log
node_modules/

# Ignore all .envs unless they start with sample-
*.env
!sample-*.env
!.sample.env

# Ignore logs
*.log

# Ignore various secrets
*.pem
*.ovpn

.nyc_output
coverage
dist/