.trueRoot {
  display: flex;
  min-height: 100%;
}

.root {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;

  .top {
    flex-grow: 0;
  }

  .bottom {
    flex-grow: 1;

    display: flex;
    flex-flow: row nowrap;

    .left {
      flex-grow: 0;
    }
    
    .right {
      padding-left: 1em;
      flex-grow: 1;
    }
  }
}

.textContainer {
  max-width: 740px;
  margin: 0 1em;
}