apiVersion: apps/v1
kind: Deployment
metadata:
  name: rollem-next-01-deployment
spec:
  selector:
    matchLabels:
      app: rollem-next
  replicas: 1
  template:
    metadata:
      labels:
        app: rollem-next
    spec:
      containers:
      - name: rollem-next-01
        image: lemtzas/rollem-discord:2.9.2
        imagePullPolicy: IfNotPresent
        ports:
        - name: web
          containerPort: 8081
        resources:
          requests:
            cpu: 200m
            memory: 400M
        env:
        - name: 'reboot'
          value: '2022-12-07'
        - name: DISCORD_BOT_SHARD_ID
          value: '1'
        - name: DISCORD_BOT_SHARD_COUNT
          value: '2'
        - name: 'DISCORD_BOT_USER_TOKEN'
          valueFrom:
            secretKeyRef:
              name: rollem-next
              key: DISCORD_BOT_USER_TOKEN
        - name: 'APPINSIGHTS_CONNECTIONSTRING'
          valueFrom:
            secretKeyRef:
              name: rollem-next
              key: APPINSIGHTS_CONNECTIONSTRING
        - name: 'DEFER_TO_CLIENT_IDS'
          valueFrom:
            secretKeyRef:
              name: rollem-next
              key: DEFER_TO_CLIENT_IDS
        - name: 'DB_CONNECTION_STRING'
          valueFrom:
            secretKeyRef:
              name: rollem-next
              key: DB_CONNECTION_STRING