.markdown {
  a:not(.MuiButtonBase-root) {
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  code {
    background-color: lightgrey;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 1px;
    display: inline-block;
  }

  table {
    width: 100%;
    thead {
      border-bottom: 1px solid black;
      background-color: lightgrey;
    }

    tbody {
      tr:not(:first-child) td {
        border-top: 1px solid grey;
      }
    }

    td {
      padding: 4px;
    }
  }
}