.markdown {
  a:not(.MuiButtonBase-root) {
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  code {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 1px;
    display: inline-block;
  }

  table {
    width: 100%;
    thead {
      border-bottom: 1px solid black;
      background-color: rgba(255, 255, 255, 0.1);
    }

    tbody {
      tr:not(:first-child) td {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }
    }

    td {
      padding: 4px;
    }
  }

  img {
    max-width: 100%;
  }

  // body content margins
  p { margin: 0; }
  ul { margin: 0; }

  p + p {
    margin-top: 1em;
  }

  p + ul {
    margin-top: .5em;
  }

  li {
    line-height: 1.6em;
  }

  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }

    margin-bottom: 0;
  }

  p code { font-size: 1em; }
}