# This file can be used to load secrets into a command line via `source ./secrets/source.env`.
export APPINSIGHTS_INSTRUMENTATIONKEY=<YOUR AI KEY HERE>
export DISCORD_BOT_USER_TOKEN=<YOUR BOT TOKEN HERE>
export DISCORD_BOT_SHARD_COUNT=1
export DISCORD_BOT_SHARD_ID=0
